.main{
  
}
.border{
    width: 100%;
}
.banner{
    
    width: 100%;
    background-color: #eee;
    height: 360px;
    display: flex;
justify-content: flex-end;
align-items: center;


}

.banner h3 {
font-weight: 300;

}
.grid {
    top: -100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   
    gap: 50px 30px;
    animation: slid;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: 
    var(--_g) 50%  0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 1s infinite;
}
@keyframes l16{ 
    50%,100% {background-position: 100% 100%,50% 0,0 100%} 
}

  .load{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes slid {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}